.grid-x.grid-padding-x
  .large-8.medium-8.medium-offset-2.cell
    %h2 Customers
    %hr/
    %table
      %thead
        %tr
          %th{:width => "200"} Name
          %th Phone No
          %th Action
      %tbody
        - @customers.each do |customer|
          %tr
            %td= link_to customer.name , customer_path(customer)
            %td= customer.phone_no
            %td= link_to "Edit", edit_customer_path(customer)
