body{font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;}
p{font-size: 11px;}
.right { float: right;}
.right-align{text-align: right;}
.cell.medium-6{float: left;}
.fifty-fifty{float: left; width: 50%;}
.clear{ clear: both;}
