<!DOCTYPE html>
<html>
<head>
<title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag "application"%>

  <%= wicked_pdf_javascript_include_tag "application" %>
</head>
<body class="pdf">

  <div class='grid-container'>
    <%= yield %>
  </div>

</body>
</html>